body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;;
}
.trail
{
    position: fixed;
    pointer-events: none;
    font-size: 20px;
}

  